 .todoform input {
    padding: 8px;
    width: 450px;
  }
  
 .todoform button {
    padding: 8px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
  }